**1. Variables**

1. Ask the user for their name and age, then print a sentence like:

In [ ]:
name = input("Please Enter Your Name: ")
age = input("Please Enter Your Age: ")

print(f"\nHello {name}! You are {age} years old.")

Please Enter Your Name: Aktar
Please Enter Your Age: 26

Hello Aktar! You are 26 years old.

2. Ask for two numbers and store them in variables. Print their sum.

In [ ]:
num1 = int(input("Please Enter First Number: "))
num2 = int(input("Please Enter Second Number: "))

print(f"\n{num1} + {num2} = {num1 + num2}")

Please Enter First Number: 50
Please Enter Second Number: 40

50 + 40 = 90

**2. Operators**

1. Take two numbers as input and perform:

In [ ]:
num1 = int(input("Please Enter First Number: "))
num2 = int(input("Please Enter Second Number: "))

print(f"\n{num1} + {num2} = {num1 + num2}")
print(f"\n{num1} - {num2} = {num1 - num2}")
print(f"\n{num1} * {num2} = {num1 * num2}")
print(f"\n{num1} / {num2} = {num1 / num2}")

Please Enter First Number: 31
Please Enter Second Number: 31

31 + 31 = 62

31 - 31 = 0

31 * 31 = 961

31 / 31 = 1.0

2. Input a number and check if it is even or odd using the modulo operator.

In [ ]:
num1 = int(input("Please Enter First Number: "))

if num1 % 2 == 0:
  print(f"\n{num1} is Even number")
else:
  print(f"\n{num1} is Odd number")

Please Enter First Number: 5

5 is Odd number

**ðŸ“œ 3. If-Else Conditions**

1. Input a number and check if it is positive, negative, or zero.

In [ ]:
num = int(input("Please Enter First Number: "))

if num > 0:
  print(f"\n{num} is Positive number")
elif num < 0:
  print(f"\n{num} is Negative number")
else:
  print(f"\n{num} is Zero")

Please Enter First Number: 5

5 is Positive number

2. Input age and check if the user is eligible to vote (18+).

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

3. Input three numbers and print the greatest one.

In [ ]:
num1 = int(input("Please Enter First Number: "))
num2 = int(input("Please Enter Second Number: "))
num3 = int(input("Please Enter Third Number: "))

if num1 > num2 and num1 > num3:
  print(f"\n{num1} is the greatest number")
if num2 > num3:
  print(f"\n{num2} is the greatest number")
else:
  print(f"\n{num3} is the greatest number")

Please Enter First Number: 10
Please Enter Second Number: 50
Please Enter Third Number: 5

50 is the greatest number

**4. For Loops**

1. Input a number n and print numbers from 1 to n.

In [ ]:
n = int(input("Enter n: "))

for i in range(1, n+1):
  print(i)

Enter n: 5
1
2
3
4
5

2. Input a word and print each character one by one using a for loop.

In [ ]:
word = input("Enter n: ")

for x in word:
  print(x)

Enter n: Aktar
A
k
t
a
r

**6. Input and Output (General Practice)**

Ask the user for their city and country, and print:

In [ ]:
city = input("Enter your city: ")
country = input("Enter your country: ")

print(f"\nYou live in [{city}], [{country}]")

Enter your city: Cox's Bazar
Enter your country: Bangladesh

You live in [Cox's Bazar], [Bangladesh]

2. Ask the user their favorite color and food, then output a sentence using both.

In [ ]:
fav_color = input("Enter your Favourite Color: ")
fav_food = input("Enter your Favourite Food: ")

print(f"\nYou Favorite Color is: {fav_color}, and Favorite Food is: {fav_food}")

Enter your Favourite Color: Black
Enter your Favourite Food: Foods

You Favorite Color is: Black, and Favorite Food is: Foods

**7. Strings**

1. Input a name and print it in uppercase and lowercase..

In [ ]:
name = input("Enter your name: ")
print(f"\nUppercase Name: {name.upper()}\nLowercase Name: {name.lower()}")

Enter your name: Aktar

Uppercase Name: AKTAR
Lowercase Name: aktar

2. Input a name and print the length of it.

In [ ]:
name = input("Enter your name: ")
print("Length of your name is:", len(name))

Enter your name: Aktar
Length of your name is: 5

**9. String Formatting**

1. Input name and marks. Print:

In [ ]:
name = input("Enter your name: ")
marks = float(input("Enter your marks: "))
print(f"\n{name.title()} scored {marks} marks")

Enter your name: aktar
Enter your marks: 85

Aktar scored 85.0 marks

2. Take three inputs: name, age, city. Output:

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"\n{name} is {age} years old and you live in {city}")

Enter your name: Aktar
Enter your age: 20
Enter your city: Dhaka

Aktar is 20 years old and you live in Dhaka